<div [class]="'header-bar '+ background">
  <div class="header-bar__normal_size">
    <div class="left">
        <div class="nav__menu">
              <div class="nav__item">
                <i class="fal fa-database" data-toggle="tooltip" data-placement="bottom" title="statistics"></i>
              </div>
              <div class="nav__item">
                <i class="fal fa-file-alt" data-toggle="tooltip" data-placement="bottom" title="rapports"></i>
              </div>
              <div class="nav__item">
                <i class="fal fa-cogs" data-toggle="tooltip" data-placement="bottom" title="settings"></i>
              </div>
              <div class="nav__item">
                <i class="fal fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="helps"></i>
              </div>
              <div class="nav__item">
                <i class="fal fa-power-off" data-toggle="tooltip" data-placement="bottom" title="log out"></i>
              </div>
        </div>
    </div>
    <div class="right">
          <div class="user-box__circle">
                <img class="circle" src="../../../assets/img/user.png" alt="">
          </div>
    </div>
  </div>
  <div class="header-bar__mobile_size"></div>
  <div></div>
</div>
