<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-container card-first">
              <div class="card-body ">
                  <div class="c__left"></div>
                  <div class="c__right"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-container card-second">
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-container card-three">
              <div class="card-body">

              </div>
            </div>
          </div>
        </div>
    </div>
</div>
