.view_report_btn {
    width: 60%;
    height: 50px;
    color: #3171b7;
    background-color: #ffff;
    border: 2px solid #3171b7;
    border-radius: .5rem;
}

.circle-ic {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.circle-ic i {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-1 {
  background-color: #3171b7;
  color: #fff;
}

.bg-2 {
  background-color: #008080;
  color: #fff;
}

.bg-3 {
  background-color: rgb(158, 34, 34);
  color: #fff;
}
