<div class="row my-2">
  <div class="col-md-11 mx-auto">
    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <small class="text-muted">{{'Invested Dividents'}}</small>
            <div class="item">
              <div class="circle-ic bg-1">
                <i class="fal fa-suitcase"></i>
              </div>
              <span>{{'10M'}}</span>
            </div>
            <small class="text-muted">{{'Grow Rate: 11.1%'}}&nbsp;<i class="fal fa-chevron-down"></i></small>
          </div>
          <div class="col-md-4">
            <small class="text-muted">{{'Capital Gains'}}</small>
            <div class="item">
              <div class="circle-ic bg-2">
                <i class="fal fa-lightbulb"></i>
              </div>
              <span>{{'$567'}}</span>
            </div>
            <small>{{'Increased by: 6.1%'}}&nbsp;<i class="fal fa-chevron-up"></i></small>
          </div>
          <div class="col-md-4">
            <small class="text-muted">{{'Cash deposit'}}</small>
            <div class="item">
              <div class="circle-ic bg-3">
                <i class="fal fa-money-bill"></i>
              </div>
              <span>{{'1,7M'}}</span>
            </div>
            <small><i class="fal fa-chevron-down"></i>&nbsp;{{'20% less earnings'}}</small>
          </div>
        </div>
      </div>
      <div class="card-footer p-2">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <button class="view_report_btn"> <small>{{'View Complete Report'}}</small></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Nav tabs -->

<div class="row mt-4 mb-2">
  <div class="col-md-11 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true"><small>{{'Home'}}</small></a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false"><small>{{'Profile'}}</small></a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages"
              aria-selected="false"><small>{{'Messages'}}</small></a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"
              aria-selected="false"><small>{{'Settings'}}</small></a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
          <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
          <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
        </div>
      </div>
    </div>

  </div>
</div>


