<div class="row mt-5">
  <div class="col-md-10 mx-auto">
    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="item">
              <div class="circle-ic bg-1">
                <i class="fal fa-suitcase"></i>
              </div>
              <span>{{'10M'}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <div class="circle-ic bg-2">
                <i class="fal fa-lightbulb"></i>
              </div>
              <span>{{'$567'}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="item">
              <div class="circle-ic bg-3">
                <i class="fal fa-money-bill"></i>
              </div>
              <span>{{'1,7M'}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <button class="view_report_btn">{{'View Complete Report'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
