<div class="row">
  <div class="col-md-6">
    <div style="display: block">
      <canvas baseChart
        [datasets]="bubbleChartData"
        [options]="bubbleChartOptions"
        [colors]="bubbleChartColors"
        [legend]="bubbleChartLegend"
        [chartType]="bubbleChartType">
      </canvas>
    </div>
    <button class="btn" (click)="randomizeBull()">{{'Random'}}</button>
  </div>
  <div class="col-md-6">
      <div style="display: block;">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType"
        ></canvas>
      </div>
      <button class="btn btn-primary"  (click)="randomizeBar()">{{'Random'}}</button>
  </div>
</div>


