.main__theme {
  background: #f1f4f6;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.outlet__content {
  flex: 1;
  flex-direction: column;
  display: flex;
  z-index: 8;
  padding: 60px 0 0 280px;
  transition: all .2s;
}

.inner__o {
  padding: 15px 15px 20px;
  flex: 1;
}

.card-h {
  height: 520px;
}

