
<div class="row mt-5">
  <div class="col-md-9 mx-auto p-2">
    <div class="swatch-holder bg-primary" (click)="setNavBg( 'bg-primary')">
    </div>
    <div class="swatch-holder bg-secondary" (click)="setNavBg( 'bg-secondary')">
    </div>
    <div class="swatch-holder bg-success" (click)="setNavBg( 'bg-success')">
    </div>
    <div class="swatch-holder bg-info" (click)="setNavBg( 'bg-info')">
    </div>
    <div class="swatch-holder bg-warning" (click)="setNavBg( 'bg-warning')">
    </div>
    <div class="swatch-holder bg-danger"(click)="setNavBg( 'bg-danger')">
    </div>
    <div class="swatch-holder bg-light" (click)="setNavBg( 'bg-light')">
    </div>
    <div class="swatch-holder bg-dark" (click)="setNavBg( 'bg-dark')">
    </div>
    <div class="swatch-holder bg-focus" (click)="setNavBg( 'bg-focus')">
    </div>
    <div class="swatch-holder bg-alternate" (click)="setNavBg( 'bg-alternate')">
    </div>
    <div class="swatch-holder bg-vicious-stance ">
    </div>
    <div class="swatch-holder bg-midnight-bloom ">
    </div>
    <div class="swatch-holder bg-night-sky ">
    </div>
    <div class="swatch-holder bg-slick-carbon ">
    </div>
    <div class="swatch-holder bg-asteroid ">
    </div>
    <div class="swatch-holder bg-royal ">
    </div>
    <div class="swatch-holder bg-warm-flame ">
    </div>
    <div class="swatch-holder bg-night-fade ">
    </div>
    <div class="swatch-holder bg-sunny-morning ">
    </div>
    <div class="swatch-holder bg-tempting-azure ">
    </div>
    <div class="swatch-holder bg-amy-crisp ">
    </div>
    <div class="swatch-holder bg-heavy-rain ">
    </div>
    <div class="swatch-holder bg-mean-fruit ">
    </div>
    <div class="swatch-holder bg-malibu-beach">
    </div>
    <div class="swatch-holder bg-deep-blue">
    </div>
    <div class="swatch-holder bg-ripe-malin">
    </div>
    <div class="swatch-holder bg-arielle-smile">
    </div>
    <div class="swatch-holder bg-plum-plate">
    </div>
    <div class="swatch-holder bg-happy-fisher">
    </div>
    <div class="swatch-holder bg-happy-itmeo">
    </div>
    <div class="swatch-holder bg-mixed-hopes">
    </div>
    <div class="swatch-holder bg-strong-bliss">
    </div>
    <div class="swatch-holder bg-grow-early">
    </div>
    <div class="swatch-holder bg-love-kiss">
    </div>
    <div class="swatch-holder bg-premium-dark">
    </div>
    <div class="swatch-holder bg-happy-green">
    </div>
  </div>
</div>
