
<div class="accordion" id="accordionExample">

  <div class="dsh-header">
    {{'Navigation'}}
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn  btn-block text-left" type="button" data-toggle="collapse" data-target="#workspaceMenu"
          aria-expanded="true" aria-controls="workspaceMenu">
          {{'Workspace'}}
          <i class="fal fa-chevron-down float-right mt-1"></i>
        </button>
      </h2>
    </div>

    <div id="workspaceMenu" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body p-0">
        <div class="drop-links">
          <div class="list-item">
            <a [routerLink]="['']" routerLinkActive="item-active"><i class="fal fa-smile mr-4"></i>&nbsp;
              <small>{{'Home'}}</small></a>
          </div>
          <div class="list-item">
            <a [routerLink]="['']" routerLinkActive="item-active"><i class="fal fa-smile mr-4"></i>&nbsp;
              <small>{{'Tasks'}}</small></a>
          </div>
          <div class="list-item">
            <a [routerLink]="['']" routerLinkActive="item-active"><i class="fal fa-smile mr-4"></i>&nbsp;
              <small>{{'Quiz'}}</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dsh-header">
    {{'Administration'}}
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn  btn-block text-left" type="button" data-toggle="collapse" data-target="#facadeMenu"
          aria-expanded="true" aria-controls="facadeMenu">
          {{'Book'}}
          <i class="fal fa-chevron-down float-right mt-1"></i>
        </button>
      </h2>
    </div>

    <div id="facadeMenu" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body p-0">
        <div class="drop-links">
          <div class="list-item">
            <a [routerLink]="['/dashboard/book']" routerLinkActive="item-active"><i class="fal fa-smile mr-4"></i>&nbsp;
              <small>{{'My Wall'}}</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#itemsMenu" aria-expanded="false" aria-controls="itemsMenu">
          {{'Items'}}
          <i class="fal fa-chevron-down float-right mt-1"></i>
        </button>
      </h2>
    </div>
    <div id="itemsMenu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body p-0">
        <div class="drop-links">
          <div class="list-item">
            <a [routerLink]="['/dashboard/items']" routerLinkActive="item-active"><i
                class="fal fa-plus-square mr-4"></i>&nbsp; <small>{{'items'}}</small></a>
          </div>
          <div class="list-item">
            <a [routerLink]="['/dashboard/posts']" routerLinkActive="item-active"><i class="fal fa-list mr-4"></i>&nbsp;
              <small>{{'posts'}}</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn  btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#subsMenu" aria-expanded="false" aria-controls="subsMenu">
          {{'Subscribers'}}
          <i class="fal fa-chevron-down float-right mt-1"></i>
        </button>
      </h2>
    </div>
    <div id="subsMenu" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body p-0">
        <div class="drop-links">
          <div class="list-item">
            <a [routerLink]="['/dashboard/subscribers']" routerLinkActive="item-active"><i
                class="fal fa-list mr-4"></i>&nbsp; <small>{{'Subscribers'}}</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
