<div class="side-bar"
  [ngStyle]="sideState === true ? {'width':'80px', 'transition':'all .2s ease-in-out'}:{'width':'280px','transition':'all .2s ease-in-out'}">
  <div class="side-bar-header">
    <div class="logo"></div>
    <div class="side-toggle p-0" (click)="toggleSideBar()">
      <i class="fas fa-bars fa-2x" [ngStyle]="{'color':'#3171b7', 'cursor':'pointer'}"></i>
    </div>
  </div>
  <div class="side-bar-body p-2">
    <div *ngIf="sideState === true" class="side-bar-reduce mx-auto">
      <div class="menus-panel">
        <div class="pav_box">
          <div class="pav_box_menu">
            <div class="pav_box_item"><a class="pav_box_link" routerLink="/home/test" routerLinkActive="active-link"><i class="fal fa-home"></i></a></div>
            <div class="pav_box_item"><a class="pav_box_link" routerLink="/home/test2" routerLinkActive="active-link"><i class="fal fa-phone"></i></a></div>
            <div class="pav_box_item"><a class="pav_box_link" routerLink="" ><i class="fal fa-file-archive"></i></a></div>
            <div class="pav_box_item"><a class="pav_box_link" routerLink="" ><i class="fal fa-suitcase"></i></a></div>
            <div class="pav_box_item"><a class="pav_box_link" routerLink="" ><i class="fal fa-binoculars"></i></a></div>
            <div class="pav_box_item"><a class="pav_box_link"><i class="fal fa-cloud-download-alt"></i></a></div>
          </div>
        </div>
</div>
    </div>
    <div
      [ngStyle]="sideState === true ? {'width':'0px', 'transition':'all .1s ease-in-out'}:{'width':'100%','transition':'all .1s ease-in-out'}"
      class="side-bar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="side-bar-menu">
            <app-accordion [activeIds]="extraParameter"></app-accordion>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
