<div class="row">
  <div class="col-md-5">
    <div class="card card-h">
      <div class="card-body p-2">

        <div class="row">
          <div class="col-md-12">
            <div class="search-container">
              <i class="fal fa-search"></i>
              <input type="text">
            </div>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-md-12">
            <perfect-scrollbar style="width: 100%;  height: 243px; padding-right: 10px;">
              <div class="card card-state">
                <div class="card-body p-2 flexible">
                  <div class="left">
                    <small class="title-color">{{'Tasks charge for web apps tests'}}</small>
                  </div>
                  <div class="right">
                    <i class="fal fa-file-alt"></i>
                    <i class="fal fa-pen-alt"></i>
                    <i class="fal fa-trash-alt"></i>
                  </div>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card card-h">
      <div class="card-header flexible p-1">
        <div class="title-container ml-3">
          <h6 class="mb-0 mg">{{'Tasks charge for web apps tests'}}</h6>
        </div>
        <div class="status-container">
            <div class="shape-circle">

            </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <perfect-scrollbar style="width: 100%;  height: 400px; padding-right: 10px;">
              <div class="detail-part">
                <div id="accordion">
                  <div class="card">
                    <div class="card-header p-0" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          {{'Tasks Progress'}}
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="user-part">
                  <div class="card">
                      <div class="contain">
                          <img src="https://gravatar.com/avatar/59546b956cd1fcc1e55cb891e3cd3775?s=400&d=robohash&r=x"  class="shape-circle" alt="">
                      </div>
                  </div>
              </div>
            </perfect-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
