/* .card::before {
  content: '';
  height: 100%;
  width: 3px;
  background-color: #3171b7;
  position: absolute;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
} */

.card-color {
  background-color: rgb(223, 219, 219);
}

.right {
  float: right;
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.card-h {
  height: 520px;
  background-color: #ffff;
}

.search-container {
  position: relative;
  width: 100%;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
