<div class="row">
    <div class="col-md-5">
          <div class="row">
                <div class="col-md-12">
                      <div class="card bx-s">
                          <div class="card-body">
                                <div class="float-left">

                                </div>
                                <div class="right">
                                    <i class="fal fa-edit"></i>
                                    <i class=" fal fa-file"></i>
                                    <i class="fal fa-trash"></i>
                                </div>
                          </div>
                      </div>
                </div>
          </div>
    </div>
    <div class="col-md-7">

    </div>
</div>
