<div class="row">
  <div class="col-md-5">
    <div class="card card-h">
      <div class="card-body">
        <div class="row px-2">
          <div class="col-md-12">
            <div class="search-container">
              <i class="fal fa-search"></i>
              <input type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card card-h">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
