/* You can add global styles to this file, and also import other style files */
@import './assets/fontawesome5/css/all.css';
@import './assets/fontawesome5/css/brands.css';
@import './assets/fontawesome5/css/solid.css';
@import './assets/fontawesome5/css/light.css';
@import './assets/fontawesome5/css/fontawesome.css';


body {
  margin: 0%;
}


body {
  overflow-x: hidden;
}

.bold {
  font-weight: bold;
}

button {
  outline: none!important;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

ul {
  list-style: none!important;
}


select:focus, textarea:focus, input:focus {
  box-shadow: none!important;
  outline: none!important;
}
